// 배경 이미지 변수 

// 작은박스
$sunjae: "https://img.tf.co.kr/article/home/2024/03/21/202477871710983832.jpg";
// 큰박스 
$bigbg: "https://poc-cf-image.cjenm.com/public/share/contentsmng/kr/%EC%84%A0%EC%9E%AC%EC%97%85%EA%B3%A0%ED%8A%80%EC%96%B4banner1920.jpg?v=1711341765";

// 사이즈 변수 셋팅 
// 가로크기 
$box-wz: 300px;
// 세로크기 
$box-hz: 200px;


// 색상변수

// 보더색 
$bd-color1: red;

//유동적인 폰트사이즈변수
// clamp(10px, 4vw, 16px);