@charset "utf-8";
/* 아카이브 CSS - main.css */

/* 웹폰트CDN */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Single+Day&family=Sunflower:wght@500&display=swap");

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Single Day', cursive;
font-family: 'Sunflower', sans-serif;

 */

html {
    scroll-behavior: smooth;
    /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함! */
    font-size: 10px;
    /* rem계산시 쉽도록 10px */
}
body {
    overflow: hidden;
    font-family: "Bebas Neue", "Single Day";
}
