@charset "utf-8";
/* 아카이브 CSS - main.css */

/* 웹폰트CDN */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Single+Day&family=Sunflower:wght@500&display=swap");

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./main_core.css);
@import url(./main_common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);
/* 팀 공통 CSS */
/* @import url(./core.css); */

body {
   overflow-x: hidden;
}
/* 공사중 표시 */
body * {
   outline: 1px dashed #cccccc15;
}
/* 메인파트 전체박스 */

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Single Day', cursive;
font-family: 'Sunflower', sans-serif;

 */

html {
   scroll-behavior: smooth;
   /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함! */
   font-size: 10px;
   /* rem계산시 쉽도록 10px */
}
/* body { */
/* overflow: hidden; */
/* } */

/* ***************배너영역*************** */
#ban-area {
background-color: #000;
height: 100vh;

}

/* 비디오부모박스 */
.ban-area.col-12{
   height: 100%;
   margin: 0 auto;
}   
   

/* 영역채우기 */
video.video {
   left: 50%;
   translate: -50% 0;
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;


   /* 임시 */
   opacity: 1;

}

/* ***************메인영역*************** */
#main-area {
   /* height: 10vh; */

}

/* 로딩애니 */
.intro_section {
   background: url(../main_images/star_night.jpg) no-repeat fixed left / cover;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   z-index: 10;
   position: absolute;
   top: 0;
   left: 0;
   /* animation: star 2.5s linear 1s forwards;
   /* 임시 */
   display: none;
}

@keyframes star {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      pointer-events: none;
   }
}

/* 마우스드래그  */
.ban-area .scroll_induce {
   border: 2px solid rgb(255, 255, 255);
   bottom: 40px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 50px;
   position: absolute;
   z-index: 100;
   width: 20px;
   height: 30px;
}
.ban-area .scroll_induce::before {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   content: "";
   top: 4px;
   width: 2px;
   height: 8px;
   background-color: rgb(255, 255, 255);
   animation: scrollMove 2s infinite;
}

@keyframes scrollMove {
   0% {
      -webkit-transform: translate(-50%, 0);
      opacity: 0;
   }
   40% {
      opacity: 1;
   }
   80% {
      -webkit-transform: translate(-50%, 8px);
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

/* ***************************3. 컨텐츠영역*************************** */

/* *************3-1. 컨텐츠영역(세계관)************* */

section.content-area {
   aspect-ratio: 1600 / 2124;
   background: linear-gradient(180deg, #15072b, transparent 15%, black),
      url(../main_images/star_sword.png) no-repeat center/cover;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

/* 움직이는 글씨  */
h2.move_tit {
   /* text-shadow: 2px 0 aqua, -2px 0 aqua, 0px -2px aqua, 0px 2px aqua; */
   white-space: nowrap;
   padding: 0 1.5%;
   position: absolute;
   width: auto;
   color: #ffffff;
   font-size: 11vw;
   left: 0%;
   animation: tit-ani 7s linear infinite;
   /* 임시 */
   display: none;
}
/* 움직이는 글씨2 */
h2.move_tit:nth-of-type(2) {
   left: -100%;
}

@keyframes tit-ani {
   from {
      translate: 0% 0;
   }
   to {
      translate: 100% 0;
   }
}

/* 대표제목 */
section.content-area > div:nth-of-type(2) {
   margin-top: 200px;
   flex-basis: 100%;
   color: #fff;
   font-size: min(6rem, 7vw);
   text-align: center;
}
h2.main_tit {
   text-shadow: 0 0 10px black;
   height: 100%;
   width: 100%;
}

/* 텍스트박스부모 */
.txt-content {
   text-shadow: 0px 2px 5px #00000078;
   position: relative;
   line-height: 1.5;
   padding: 30px 15px;
   background: #000000b5;
   display: flex;
   width: 300px;
   margin: 10% auto;
   color: #fff;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   flex-grow: 0;
   height: fit-content;
}

/* 텍스트박스 */
.txt-content > h2 {
   text-align: center;
   font-size: 2.5rem;
}

.txt-content > span {
   padding: 5% 0;
   font-size: 1.3rem;
   text-align: justify;
}

/* *************3-2. 컨텐츠영역(뉴스)************* */
.news-area {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 50px;
    background: linear-gradient(180deg, #000000 80%, transparent);
    width: 100%;
    color: #fff;
}
/* 왼쪽영역 */
.left-wrap {
    box-sizing: border-box;
    padding: 10px;
    flex: 1;
    flex-basis: 40%;
}

/* 오른쪽영역 */
.right-wrap {
    height: 85%;
    box-sizing: border-box;
    padding: 10px 50px;
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}
/* 왼쪽박스 */
.left-box {
    width: 100%;
    padding: 0 1%;
}
/* 오른쪽박스 */
.item-box {
    box-sizing: border-box;
    flex-basis: 33.33%;
    width: 100%;
    padding: 40px 10px;
    padding-bottom: 0%;
}

/* 왼쪽이미지 */
.left-box > .left-img {
    border-radius: 5px;
    aspect-ratio: 960 / 680;
    background: url(../main_images/news01.jpg) no-repeat center / cover;
    width: 100%;
}
/* 오른쪽이미지 */
.item-box > .news-img {
   border-radius: 5px;
   aspect-ratio: 960 / 680;
   width: 100%;
}
/* 아이템 이미지개별 */
.item-box:nth-of-type(1) > .news-img {
   background: url(../main_images/news02.jpg) no-repeat center / cover;
}
.item-box:nth-of-type(2) > .news-img {
   background: url(../main_images/news03.jpg) no-repeat center / cover;
}
.item-box:nth-of-type(3) > .news-img {
   background: url(../main_images/news04.jpg) no-repeat center / cover;
}


/* 버튼박스 */
.btnbox {
   margin: 50px auto;
   flex-basis: 50%;
   display: flex;
   justify-content: space-evenly;
}

/* 버튼 */
.news-area.box.fxb>a {
    margin: 10px;
    position: relative;
}

/* 뉴스 오른쪽박스 제목 */
.left-box>h2{
    padding-bottom: 10px;
    font-size: 2rem;
}
/* 뉴스 왼쪽박스 제목 */
.right-wrap>h4 {
font-size: 1.8rem;
position: absolute;
}
/* 뉴스 아이템박스 텍스트 */
.right-wrap p.info{
   padding: 10px 3px;
   font-size: 1.3rem;
}
/* *************3-3 컨텐츠영역(리스트)************* */


section.news-area>.right-wrap{
   margin: 100px 0px;
}

/* 리스트 제목 */
section.news-area>.right-wrap>h4 {
   padding: 0 10px;
   font-size: 2rem;
   position: absolute;
}
/* 아이템박스 텍스트 */
section.news-area>.right-wrap p.info{
   font-size: 1.3rem;
}

/* 이미지박스비율 */
section.news-area>.right-wrap>.item-box>.news-img {
   aspect-ratio: 1688/2500;
}
section.news-area>.right-wrap>.item-box{
   flex-basis: 25%;
}

/* 개별이미지 */
section.news-area>.right-wrap>.item-box:nth-of-type(1) > .news-img {
   background: url(../main_images/series_01.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(2) > .news-img {
   background: url(../main_images/series_02.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(3) > .news-img {
   background: url(../main_images/series_03.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(4) > .news-img {
   background: url(../main_images/series_04.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(5) > .news-img {
   background: url(../main_images/series_05.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(6) > .news-img {
   background: url(../main_images/series_06.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(7) > .news-img {
   background: url(../main_images/series_07.jpg) no-repeat center / cover;
}
section.news-area>.right-wrap>.item-box:nth-of-type(8) > .news-img {
   background: url(../main_images/series_08.jpg) no-repeat center / cover;
}

/* 버튼부모박스 */
section.news-area>.right-wrap .btnbox {
   flex-basis: 30%;
   scale: 1.5;
}
/* 버튼 */
section.news-area>.right-wrap .btn{
   width: 130px;
}
/* *************3-4 컨텐츠영역(하단배너)************* */
.visualView-ban{
   /* padding-top: 30vh; */
  }

  /* 하단배너 */
.visualView{

   border-radius: 60px 60px 20px 20px;
   overflow: hidden;
   position: relative;
   aspect-ratio: 3000/1481;
   width: 100%;
   z-index: 0;
   
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
/* 이미지박스 공통 */
.visualimg{
   width: 100%;
   background-position: left;
   background-size: cover;
   transition: 0.3s ease-in-out;
   filter: brightness(0.6);
}
/* 이미지박스 개별 */
.visualimg:first-of-type{
   background-image: url(../main_images/sub1.png);
   border-radius: none;
}
.visualimg:nth-of-type(2){
   background-image: url(../main_images/sub2.png);
}
.visualimg:last-of-type{
   background-image: url(../main_images/sub3.png);
}

/* 겉박스호버시 10% */
.visualView.fxb:hover>.visualimg{
   width: 10%;

}
/* 상위선택자로 덮기 -> 호버된요소 크기키움 */
section.visualView-ban .visualView .visualimg:hover {
   transform: scaleX(10deg);
   filter: brightness(1.1);
   width: 100%;
}
.visualimg>span{
   opacity: 0;
} 
/* 이미지 호버시 글씨 */
.visualimg:hover>span {
   position: absolute;
   top: 20%;
   left: 50%;
   color: #fff;
   font-size: 3rem;
   font-weight: bold;
   opacity: 1;
   transition: opacity 1s ease 0.5s;
   z-index: 1;
   padding: 20px;
}
/* 상위선택자로 덮기 -> 마지막 이미지 글씨크기 변경 */
.visualView-ban .visualimg:nth-of-type(3):hover>span {
   color: #000;
}
.visualimg>span>p:first-of-type{
   width: 90%;
   font-size: 1.2rem;
}
.visualimg>span>p:last-of-type{
   width: 90%;
   line-height: 1.5;
   text-align: justify;
   font-size: 1.5rem;
   padding: 10px 0;
}
