@charset "utf-8";
/* 스타워즈 PJ : 공통 클래스 CSS - core.css */

/* 팀 공통 core 충돌 보정 (팀core 아래서호출) */
html {
  text-align: -webkit-auto;
}

.fx-box {
     /* 두개추가 */
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border-radius: 0;
}

a {
  font-size: 1rem;
  color: #fff;
}

/* 별도추가 */
body {
    /* 배경 */
    background: url(../main_images/star_night.jpg) no-repeat fixed left / cover;
  }
/* ///////////////////////////////////////// */

/* 공통 셋팅을 위한 클래스 */

/********* 공통 클래스 *********/

/* 임시표시타이틀 */
.temp-tit{
    position: absolute;
    font-size: 2vw;
    color: #ccc;
}
/* 중앙속박스 */
.inbox{
    /* 최대가로크기 */
    max-width: 1600px;
    padding: 0 20px;
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;    
}

/* IR(Images Replacement) 
- 배경이미지 설명 숨기기 클래스 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}
