@charset "utf-8";

/* 스벅 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */ /* 상단영역, 하단영역 반복디자인 */

/************* 1. 상단영역 *************/
#top-area .inbox {
   background-color: #3b3b3b;
}

/* 로고관련 */
h1.logo a {
   /* 로고img들 부모박스 */
   position: absolute;
}
h1.logo a:first-child {
   /* 세이렌박스 */
   z-index: 2;
}
h1.logo a:last-child {
   /* 중앙로고박스 */
   left: 50%;
}
h1.logo a > img {
   /* 세이렌 */
   width: 40px;
   padding: 10px;
   width: max(min(10vw, 40px), 30px);
}

h1.logo a + a img {
   /* 중앙로고 */
   display: inline-block;
   transform: translateX(-50%);
   /* 최대크기 200px,최소크기 100px적용 */
   width: max(min(20vw, 150px), 95px);
   /* width: 200px; */
}

/* 탑메뉴 */
aside.tmenu-box {
   position: relative;
}
.tmenu {
   position: absolute;
   top: 0;
   right: 0%;
   width: 200px;
   /* 수평 방향 중앙 정렬 */
   justify-content: right;
   /* 호버가안되어 줌 */
}
.tmenu li a {
   /* 인라인이라 높이적용위해 */
   display: inline-block;
   color: #808080;
   padding: 0 5px;
   /* 줄넘김방지 */
   white-space: nowrap;
   font-size: 1.2em;
   font-weight: normal;
}
.tmenu li a:hover {
   color: #ffffff;
}

/* gnb 메뉴 */
nav.gnb {
   position: relative;
   background-color: #003b02;
   top: 100%;
   padding: 10px;
   z-index: 2;
}
ul.gnb {
   /* 플랙스박스,래핑,플랙스수평적용 되있음 */
   width: 80%;
   margin: 0 auto;
}
.gnb li {
   margin: 0 auto;
   padding: 5px 0;
}
.gnb li a {
   text-align: center;
   /* 너비지정위해 블록설정 */
   display: block;
   color: #9f9f9f;
   width: 75px;
}
ul.gnb a:hover {
   color: #ffffff;
   font-weight: bold;
}
.gnb .menu {
   z-index: 1;
}
/* 서브메뉴 */
.submenu {
   position: absolute;
   display: flex;
   outline: 100px 0 0 0 #ffffff00;
   top: calc(100%);
   left: 0;
   right: 0;
   background-color: #003b02;
   border-radius: 0 0 40px 40px;
}
.submenu ol {
   display: none;
   margin: 0 auto;
   margin-bottom: 50px;
}

.gnb .menu:hover .submenu ol {
   display: block;
}

.submenu:hover .submenu ol {
   display: block;
}

/* 롤링배너영역 */
.ban-area .visualView {
   /* 정렬: 기본 left */
   display: flex;
   height: 580px;
   overflow: hidden;
}
.ban-area .visualView .bg {
   /* flex: 1;  */
   /* 동일한 크기로 분할 */
   background-position: center;
   background-size: cover;
   transition: 1s ease-in-out;
}
.ban-area .visualView .img1 {
   background-image: url(../../01.자료수집/2.이미지데이터/main/web/main_ban2.jpg);
   width: 20%;
   filter: grayscale() brightness(0.8);
}
.ban-area .visualView .img2 {
   /* 중앙베너 */
   background-image: url(../../01.자료수집/2.이미지데이터/main/web/main_ban1.jpg);
   width: 60%;
}
.ban-area .visualView .img3 {
   background-image: url(../../01.자료수집/2.이미지데이터/main/web/main_ban3.jpg);
   width: 20%;
   filter: grayscale() brightness(0.8);
}
/* 호버시 확장 */
.visualView .bg:hover {
   display: block;
   width: 200%;
   scale: 1.1;
   filter: none;
   z-index: 1;
}
.visualView .img1:hover + .img2 {
   filter: grayscale() brightness(0.8);
}
/* 3번쨰  img3 호버시 2번째 img2가 그레이스케일 되는법 모름 
앞선형제라 그렇다 함  */

/* 피그캡션배경 */
.ban-area .visualView .bg::after {
   content: "";
   display: block;
   background: #000;
   width: 100%;
   height: 100%;
   opacity: 0.25;
   display: none;
}
.ban-area .visualView .bg:hover::after {
   display: block;
}
/* 피그캡션 */
.ban-area .visualView .bg span {
   /* 제목 */
   position: absolute;
   top: 40%;
   left: 10%;
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   /* 초기에는 투명 상태로 설정 */
   opacity: 0;
   /* 투명도에 대한 변화를 부드럽게 적용 */
   transform: rotate(45deg) scaleX(0.1);
   transition: all 1s ease;
   z-index: 1;
}
/* 호버시 span */
.ban-area .visualView .bg:hover span {
   height: 60px;
   font-size: 4rem;
   opacity: 1;
   transform: rotate(0deg) scaleX(1);
}
.ban-area .visualView .bg p {
   /* 내용 */
   position: absolute;
   font-size: 2rem;
   font-weight: normal;
   text-align: left;
   opacity: 0;
   /* 트렌지션 시간 따로 줌 */
   transition: 1.5s 0.4s;
}
/* 호버시 p */
.ban-area .visualView .bg:hover p {
   opacity: 1;
}
/************ 2. 메인영역 ************/
/************* 3. 하단영역 *************/
