@charset "utf-8";

/* 스벅 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */ /* 상단영역, 하단영역 반복디자인 */

/************* 1. 상단영역 *************/
#top-area h1 {
   height: 60px;
   background-color: #3b3b3b;
   width: 100%;
   position: absolute;
}

/* 로고관련 */
h1.logo a {
   /* 로고img들 부모박스 */
   position: absolute;
   padding: 10px;
}
h1.logo a:first-child {
   /* 세이렌박스 */
   z-index: 10;
   padding-top: 5px;
   position: fixed;
}

/* *************************************랩박스 */
.wrap-box{
   
z-index: 5;
/* 어디서든랩박스 열리게하려고 픽스드 줌 */
position: fixed;
width: 100vw;
height: 100vh;
/* wrap-box가 마우스 이벤트를 캡처하지 않도록 설정
다른요소보다 높아서 다른것 호버나 선택 안되어서 줌 */
pointer-events: none; 
overflow: hidden;
}
 .wrap-box > .logo-wrap {
   z-index: 5;
   position: absolute;
   
   pointer-events: all;
 }
 

.logo-wrap.n01{
left: -100%;
height: 640px;
width: 50%;
background-color: #ececec;
border-radius: 0 50px 50px 0;
opacity: 0;
transition: 0.4s ease-in-out;

}
.logo-wrap.n02{
top: 100vh;
height: 320px;
width: 50%;
left: 50%;
background-color: #005018;
border-radius: 50px 50px 0px 0px;
opacity: 0;
transition: 0.2s ease-in-out 0.4s;
}
.logo-wrap.n03{
top: 0;
height: 0px;
width: 0%;
left: 100%;
background-color: #000000;
/* 안먹음 */
/* backdrop-filter: blur(100px); */
opacity: 0;
transition: 0.5s ease-in-out 0.5s;

}

/* 세이렌호버시 랩박스 펼치기 */
h1.logo a:nth-of-type(1):hover ~.wrap-box> .n01{
   left: 0;
   opacity: 1;
}
h1.logo a:nth-of-type(1):hover ~.wrap-box> .n02{
   top:320px;
   opacity: 1;
}
h1.logo a:nth-of-type(1):hover ~.wrap-box> .n03{
   top:0;
   left: -10%;
   width: 100%;
   height: 640px;
   opacity: 0.7;
   transform-origin: bottom left;
   
   filter: blur(22px);
   border-radius: 100px;
   z-index: 3;
   scale: 1.5;
}

/* **************************************** */


h1.logo a:nth-of-type(2) {
   /* 중앙로고박스 */
   left: 50%;
   /* 중앙으로이동( 내부 이미지만큼 늘어난 부모박스) */
   transform: translateX(-50%);
}
h1.logo a:nth-of-type(1) > img {
   /* 세이렌 */
   width: 40px;
   width: max(min(10vw, 35px), 30px);
}

h1.logo a:nth-of-type(2) > img:first-of-type {
   /* 최대크기 200px,최소크기 100px적용 */
   width: max(min(20vw, 150px), 95px);
}

/* 탑메뉴 */
aside.tmenu-box {
   position: relative;
}
.tmenu {
   position: absolute;
   top: 0;
   right: 0%;
   width: 200px;
   /* 수평 방향 중앙 정렬 */
   justify-content: right;
   /* 호버가안되어 줌 */
   /* 로고박스에 밀려서올림 */
   z-index: 1;
}
.tmenu li a {
   /* 인라인이라 높이적용위해 */
   display: inline-block;
   color: #808080;
   padding: 0 5px;
   /* 줄넘김방지 */
   white-space: nowrap;
   font-size: 1rem;
   font-weight: normal;
}
.tmenu li a:hover {
   color: #ffffff;
}

/* gnb 메뉴 */
/* 스티키 적용위해 투명 부모박스 만듬 */
.top-area span {
   /* 스티키 영향 높이조절 */
   height: 300vh;
   /* 인박스너비 채움 */
   width: 100%;
   position: absolute;
   top: 60px;
   /* 다덮여서, 다른요소선택위해 */
   pointer-events: none;
/* ********************************************* */
}

nav.gnb {
   background-image: linear-gradient(45deg, #81719bdb, transparent);
   box-sizing: border-box;
   width: 100%;
   position: sticky;
   background-color: #003b02;
   top: 0px;
   padding: 10px;
   z-index: 2;
   /* span 이벤트x후 얘는 살림 */
   pointer-events: all;
}
/* 잘리지않게  */
.gnb > li > a:first-of-type {
   display: inline;
}
ul.gnb {
   /* 플랙스박스,래핑,플랙스수평적용 되있음 */
   width: 80%;
   margin: 0 auto;
}
.gnb li {
   margin: 0 auto;
   padding: 5px 0;
}
.gnb li a {
   text-align: center;
   /* 너비지정위해 블록설정 */
   display: block;
   /* 블록박스 중앙정렬 */
   margin: 0px auto;
   width: 15vw;
   color: #9f9f9f;
}
ul.gnb a:hover {
   color: #ffffff;
   font-weight: bold;
}


/* 서브메뉴 */
.submenu {
   position: absolute;
   /* display: flex; */
   top: 75%;
   /* 보이지않도록 원본 높이 0  */
   height: 0px;
   overflow: hidden;
   left: 0;
   right: 0;
   background-color: #003b02;
   border-radius: 0 0 40px 40px;
   /* 트랜지션 */
   transition: max-height 0.6s ease-in-out;
}
/* 서브메뉴 내부랩핑박스 - 플렉스박스 */
.sub-wrap {
   
   background-image: linear-gradient(90deg, #81719bdb, transparent);
   display: flex;
}
/* 호버시 내용물만큼 높이 줌 */
/* .gnb .menu:hover .submenu { */
/* 최대 높이를 설정하여 내용이 나타나도록 함
   max heigh값,내용물만큼(다른거)주면 
   오토라그런지 트랜지션 왕복 안먹 */
/* height: 300px;
} */

.sub-wrap ol {
   margin: 20px 0px;
   margin-top: 1vw;
   /* 첫번째 문자열 띄우려면 ol이 부모역할 하면안댐 */
   /* position: relative; */
   width: 100%;
   /* 원본 투명도 0 */
   opacity: 0;
   /* 트랜지션 */
   transition: 0.6s ease-in-out;
   /* margin: auto auto; */
}
.gnb .menu:hover .submenu ol {
   /* 호버시  투명도 1 */
   opacity: 1;
   top: 0;
}

/* .submenu ol li {
   display: none;
}
.gnb .menu:hover .submenu ol li {
   display: block;
} */

/* 많은 ol의 첫번째 li의 첫번째 a만 선택  */
.submenu ol > li:first-child > a:first-child {
   font-weight: bold;
   font-size: 1.1rem;
}

/* 롤링배너영역 */
.ban-area .visualView {
   /* 정렬: 기본 left */

   position: relative;
   z-index: 0;
   display: flex;
   height: 580px;
   overflow: hidden;
}
.ban-area .visualView .bg {
   /* flex: 1;  */
   /* 동일한 크기로 분할 */
   background-position: center;
   background-size: cover;
   transition: 1s ease-in-out;
}
.ban-area .visualView .img1 {
   background: url(../images/main_ban2.jpg) no-repeat right center/cover;
   width: 20%;
   filter: grayscale(100%) brightness(0.8);
}
.ban-area .visualView .img2 {
   /* 중앙베너 */
   background-image: url(../images/main_ban1.jpg);
   width: 80%;
}
.ban-area .visualView .img3 {
   background-image: url(../images/main_ban3.jpg);
   width: 20%;
   filter: grayscale(100%) brightness(0.8);
}
/* 호버시 확장 */
.visualView .bg:hover {
   display: block;
   width: 200%;
   scale: 1.1;
   filter: none;
   z-index: 1;
   filter: grayscale(0%) brightness(100%);
}
.visualView div {
   filter: grayscale(100%) brightness(0.8);
}
.visualView .bg.center {
   filter: grayscale(0%) brightness(100%);
}

/* 피그캡션배경 */
.ban-area .visualView .bg::after {
   content: "";
   display: block;
   background: #000;
   width: 100%;
   height: 100%;
   opacity: 0.25;
   display: none;
}
.ban-area .visualView .bg:hover::after {
   display: block;
}
/* 피그캡션 */
.ban-area .visualView .bg span {
   /* 제목 */
   position: absolute;
   top: 40%;
   left: 10%;
   color: #fff;
   font-size: 2rem;
   font-weight: bold;
   /* 초기에는 투명 상태로 설정 */
   opacity: 0;
   /* 투명도에 대한 변화를 부드럽게 적용 */
   transform: rotate(45deg) scaleX(0.1);
   transition: all 1s ease;
   z-index: 1;
}
/* 호버시 span */
.ban-area .visualView .bg:hover span {
   height: 60px;
   font-size: 4rem;
   opacity: 1;
   transform: rotate(0deg) scaleX(1);
}
.ban-area .visualView .bg p {
   /* 내용 */
   position: absolute;
   font-size: 2rem;
   font-weight: normal;
   text-align: left;
   opacity: 0;
   /* 트렌지션 시간 따로 줌 */
   transition: 1.5s 0.4s;
}
/* 호버시 p */
.ban-area .visualView .bg:hover p {
   opacity: 1;
}
/************ 2. 메인영역 ************/
/* 라인안내영역 배경색,폰트색 */
.line-notice-area > .cont-box > .col-6:first-child {
   background-color: #000;
   color: #fff;
}
.line-notice-area > .cont-box > .col-6:last-child {
   background-color: #fcfaf8;
}
/* 내부 플렉스 */
.cont-box .col-6 {
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   justify-content: space-evenly;
}
/* 글씨크기변경 */
.col-6 h2 {
   padding-right: 20px;
   font-size: 1.5rem;
   font-weight: bold;
}
/* 픽토그램공통 */
.col-6 a img {
   width: 25px;
   margin: 0 100px;
}

/* 애니적용 */
.col-6 p {
   animation: ntc-ani 5s linear infinite;
}

@keyframes ntc-ani {
   0% {
      /* 시작 스타일 */
      opacity: 0;
      transform: translateY(-100%);
   }
   10%,
   90% {
      /* 중간 스타일 (지연 시간 후) */
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      /* 끝 스타일 */
      opacity: 0;
      transform: translateY(100%);
   }
}

/************* 3. 하단영역 *************/
