@charset "utf-8";
/* 스벅 PJ 미디어쿼리 CSS- media.css */

/* max-width를 사용한 미디어쿼리를 
큰 사이즈부터 작은사이즈 순으로 셋팅함! */

/***************** 1000 px 이하 미디어 쿼리 시작 *****************/
@media screen and (max-width: 1000px) {

.ban-area .visualView {
overflow: visible;
/* animation: bgAni 5s ease-in-out 4s infinite; */
}
    /* 메인베너 애니 */
       @keyframes bgAni {
        0% { left: 0; }
        50% { left: -100%; }
        66% { left: -200%; }
        100% { left: 0%; }
         }

 /* 줄어들지않고 영역다채우기 */        
.ban-area .visualView .bg {
    flex-basis: 100%;
    flex-shrink: 0;
}
/* 원래있던 모션 무효화 덮기 !*/
.visualView .bg:hover {
    display: block;
    width: 100%;
    scale: 1;
    filter: none;
    z-index: 1;
}

/********************** 하단 **********************/
/* 푸터맨아래 플랙스박스 */
.col-12 > .cont2 > .info3 {
    text-align: center;
    width: 50%;
    display: flex;
    margin: 0 auto;
    font-size: 0.7rem;
    opacity: 0.7;
    flex-wrap: wrap;
    align-content: center;
 }
 /* 플랙스박스 자식요소들 */
 .footer.info3>a {
    line-height: 2;
    flex-shrink: 0;
    flex-basis: 50%;
 }

}

 /***************** 1000 px 이하 미디어 쿼리 종료 *****************/

 